body{
background-color: #F0F0F0;
color: #4B4A4A;
}

.main{
  margin: 0 auto;
  height: 220vw;
  width: 70vw;
  border: transparent;
}

.name{
  font-size: 10vw;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:link{
  color:#4B4A4A;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

a:visited{
  color:#4B4A4A;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

a:hover{
  color:#4B4A4A;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.header{
  display: flex;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  padding-bottom: 6vw;
}

.resume{
 width: 13vw;
 height: 5vw;
 margin: 1vw;
 line-height: 5vw;
 border: transparent;
 text-align: center;
 padding: 1vw;
}

.resume:hover{
  width: 13vw;
  height: 5vw;
  background-color:#4B4A4A;
  color:white;
}

.project{
  width: 14vw;
  height: 5vw;
  margin: 1vw;
  line-height: 5vw;
  border: transparent;
  text-align: center;
  padding: 1vw;
}


.project:hover{
  width: 14vw;
  height: 5vw;
  background-color:#4B4A4A;
  color:white;
}

.about{
  width: 13vw;
  line-height: 5vw;
  height: 5vw;
  margin: 1vw;
  border: transparent;
  text-align: center;
  padding: 1vw;
}


.projects{
  height: 170vw;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}


.projects1{
  /* population */
  margin: 0 auto;
  border: transparent;
  width: 57vw;
  height: 25vw;
    /* background-color: #4B4A4A; */
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects1:hover .image {
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects1:hover .middle {
  opacity: 1;
}

.text {
  color:#4B4A4A;
  font-weight: 700;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}

/* -------------- */


.projects2{
  /* population */
  margin: 0 auto;
  border: transparent;
  width: 57vw;
  height: 25vw;
    /* background-color: #4B4A4A; */
  position: relative;
}

.image2 {
  opacity: 1;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle2 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects2:hover .image2 {
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects2:hover .middle2{
  opacity: 1;
}

.text2 {
  color:#4B4A4A;
  font-weight: 700;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}

/* -------------- */


.projects3{
  /* NIVAS MUMBAI */
  margin: 0 auto;
  border: transparent;
  width: 57vw;
  height: 25vw;

    background-color: white;
  position: relative;
}

.image3 {
  opacity: 1;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
  object-fit: contain;
}

.middle3 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects3:hover .image3 {
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects3:hover .middle3{
  opacity: 1;
}

.text3 {
  color:#4B4A4A;
  font-weight: 700;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}

/* -------------- */

.projects4{
  /* DIRECTORS BOOKS */

  margin: 0 auto;
  border: transparent;
  width: 57vw;
  height: 25vw;
  position: relative;
    /* background-color: #4B4A4A; */

}

.image4 {
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 1;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle4 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects4:hover .image4{
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects4:hover .middle4{
  opacity: 1;
}

.text4 {
  color:#4B4A4A;
  line-height: 0.9;
  font-weight: 700;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}

/*

.projects4{
background-repeat: no-repeat;
    background-size: contain;
  background-position: center;
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  background-color: #e1e1e1;
  border: transparent;
} */

.projects5{
  /* WINDSPEED */
  background-size: cover;
  margin: 0 auto;
  border: transparent;
  width: 57vw;
  height: 25vw;
    /* background-color: #4B4A4A; */
  position: relative;
}

.image5 {
  opacity: 1;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle5 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects5:hover .image5{
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects5:hover .middle5{
  opacity: 1;
}

.text5 {
  color:#4B4A4A;
  font-weight: 700;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}



.projects6{
  /* UGLY VEG */
background-size: cover;
  width: 57vw;
  height: 25vw;
  /* background-color: #4B4A4A; */
  border: transparent;
  margin: 0 auto;
  position: relative;
}


.image6 {
  opacity: 1;
  background-repeat: no-repeat;
  object-fit: cover;
  display: block;
  height: 25vw;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle6 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects6:hover .image6{
  opacity: 0.3;
  width: 57vw;
  height: 25vw;
}

.projects6:hover .middle6{
  opacity: 1;
}

.text6 {
  color:#4B4A4A;
  font-weight: 700;
    line-height: 0.9;
  font-size:4vw;
  font-family:franklin-gothic-urw, sans-serif;
}


@media only screen and (max-width:600px){

.projects1 .projects2 .projects3 .projects4 .projects5 .projects6{
  width: 100vw;
  height: 50vw;
  margin-bottom: 20px;
}


}
