body {
  background-color: #F1F1F1;
  color: #1E261B;
}

.year {
  /* border: 3px solid red; */
  height: 2vw;
  width: 90vw;
  font-family: quiche-sans, sans-serif;
  padding-bottom: 3vw;
  font-size: 1.2vw;
  text-align: right;
  font-weight: 400;
  font-style: italic;
  align-items: right;
}

.next {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

.main {
  height: 88vw;
  margin: auto;
  padding: -30vw;
  text-align: center;
}

.main-section {
  height: 10vw;
  margin: auto;
  padding: -0vw;
  width: 87vw;
  /* border: 3px solid green; */
  text-align: center;
}

.main-content {
  vertical-align: text-top;
  display: flex;
  color: #1E261B;
  text-decoration: none;
  height: 1vw;
  margin: auto;
  width: 60vw;
  /* border: 3px solid red; */
  margin-bottom: 3vw;
  padding-bottom: 1vw;
}

a {
  color: #1E261B;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.main-content li {
  margin: auto;
  vertical-align: text-top;
  display: inline-block;
  font-family: quiche-sans, sans-serif;
  font-weight: 700;
  font-size: 2vw;
  /* text-align: center;
  font-style: normal;
  padding: 2px; */
}

a {
  letter-spacing: normal;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

a:hover {
  letter-spacing: 1vw;
}

.main-boxes {
  vertical-align: top;
  display: flex;
  height: 110vw;
  margin: auto;
  padding-bottom: 2vw;
  width: 88vw;
  /* border: 3px solid blue; */
  flex-wrap: wrap;
}

.name {
  letter-spacing: -0.3vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-size: 8vw;
  width: 84.5vw;
  text-align: left;
  /* border: 3px solid purple; */
}

.name:hover {
  letter-spacing: 0.1em;
}

.title {
  margin-top: -0.5vw;
  letter-spacing: 2vw;
  height: 2vw;
  width: 88vw;
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-size: 2vw;
  text-align: left;
  font-style: normal;
  margin-bottom: 2vw;
}

.project1-boxes {
  vertical-align: top;
  display: flex;
  height: 16vw;
  margin: auto;
  width: 88vw;
  /* border: 3px solid blue; */
  flex-wrap: wrap;
}

.p1box {
  margin-top: 4vw;
  height: 16vw;
  width: 88vw;
  /* border: 3px solid orange; */
}

.p1box1 {
  margin-top: 3vw;
  height: 115vw;
  width: 88vw;
  /* border: 3px solid orange; */
}

.text, .text1 {
  white-space: pre-line;
  width: 53vw;
  opacity: 0.8;
  text-align: left;
  line-height: 2vw;
  font-size: 1.5vw;
  font-weight: 300;
  font-family: quiche-sans, sans-serif;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

.text-heading {
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
/* alai */
.year-alai {
  height: 2vw;
  width: 90vw;
  padding-bottom: 3vw;
  font-family: quiche-sans, sans-serif;
  font-size: 1vw;
  text-align: right;
  font-weight: 400;
  font-style: italic;
  align-items: right;
}

.pdf {
  padding-left: 15vw;
  padding-top: 5vw;
  height: 50vw;
  width: 75vw;
}

.pdf1 {
  /* border: 3px solid pink; */
  padding-left: 15vw;
  height: 60vw;
  width: 75vw;
}

.alai-heading {
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  padding-top: 3vw;
  padding-bottom: 1vw;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

.next-alai {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  margin-top: 7vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

/* dig *//* dig *//* dig *//* dig *//* dig *//* dig *//* dig *//* dig */

.text2{
  white-space: pre-line;
  width: 53vw;
  opacity: 0.8;
  text-align: left;
  line-height: 2vw;
  font-size: 1.5vw;
  font-weight: 300;
  font-family: quiche-sans, sans-serif;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;

}

.next-dig {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  margin-top: 121vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

.dig-content {
  position: relative;
  height: 121vw;
  width: 89vw;
  /* border: 3px solid green; */
}

.dig-images {
  padding-top: 2vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  margin-left: 26vw;
  display: flex;
  /* border: 3px solid blue; */
  position: relative;
  height: 41vw;
  width: 63vw;
}

.dig-logo {
  display: flex;
  height: 30vw;
  width: 89vw;
  margin-left: 1vw;
  /* border: 3px solid blue; */
  justify-content: space-between;
  position: relative;
}

.dig-images-pattern-main {
  margin-left: 33.5vw;
  display: flex;
  height: 33vw;
  width: 57vw;
  /* border: 3px solid blue; */
  justify-content: space-around;
  position: relative;
}

.dig-images-pattern {
  display: flex;
  height: 32vw;
  width: 27vw;
}

.dig-images-pattern img {
  /* border: 3px solid blue; */
  position: absolute;
  height: 32vw;
  width: 27vw;
  overflow: hidden;
}

.dig-images-pattern .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
}

.dig-images-pattern:hover .front {
  opacity: 0;
}

.dig-images-phys-main {
  margin-left: 9vw;
  display: flex;
  height: 30vw;
  width: 81vw;
  /* border: 3px solid blue; */
  justify-content: space-around;
  position: relative;
}

.dig-images-phys {
  display: flex;
  /* border: 3px solid blue; */
  height: 29vw;
  width: 39vw;
}

.dig-images-phys img {
  /* border: 3px solid blue; */
  position: absolute;
  height: 29vw;
  width: 39vw;
  overflow: hidden;
}

.dig-images-phys .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
}

.dig-images-phys:hover .front {
  opacity: 0;
}

.dig-images-logo {
  /* border: 3px solid orange; */
  padding-bottom: 1vw;
  height: 30vw;
  width: 43vw;
}

.dig-images-logo img {
  position: absolute;
  margin-left: -22vw;
  height: 30vw;
  width: 43vw;
  overflow: hidden;
}

.dig-images-logo .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
}

.dig-images-logo:hover .front {
  opacity: 0;
}

.dig-heading {
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  padding-top: 2vw;
  padding-bottom: 1vw;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

.dig-boxes {
  display: flex;
  height: 10vw;
  width: 90vw;
  /* border: 3px solid blue; */
  justify-content: space-between;
  position: relative;
}

.dig-box-summer {
  height: 10vw;
  width: 21vw;
  /* border: 3px solid red; */
  background-color: #A7AF25;
}

.dig-box-summer:hover {
  background: linear-gradient(to right, #a7af25 -2%, #e8cf0c 71%);
}

.dig-box-fall {
  height: 10vw;
  width: 21vw;
  /* border: 3px solid red; */
  background-color: #FF992F;
}

.dig-box-fall:hover {
  background: linear-gradient(to right, #ff992f -2%, #e84e19 77%);
}

.dig-box-spring {
  height: 10vw;
  width: 21vw;
  /* border: 3px solid red; */
  background-color: #BF354E;
}

.dig-box-spring:hover {
  background: linear-gradient(to right, #bf354e 0%, #000000 100%);
}

.dig-box-winter {
  height: 10vw;
  width: 21vw;
  /* border: 3px solid red; */
  background-color: #765F8F;
}

.dig-box-winter:hover {
  background: linear-gradient(to right, #765f8f 0%, #a1bccb 100%);
}

.pattern-images {
  margin-left: 9.3vw;
  display: flex;
  /* border: 3px solid yellow; */
  position: relative;
  height: 20vw;
  width: 80vw;
}

/* sign of the times */
/* sign of the times */
/* sign of the times */
/* sign of the times */
.sign-images {
  padding-top: 2vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  margin-left: 26vw;
  display: flex;
  position: relative;
  height: 38vw;
  width: 63vw;
}

.next-sign {
  /* border: 3px solid pink; */
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
  margin-top: 5vw;
}

.sign-heading {
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  padding-top: 2vw;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

gImg {
  padding-top: 2vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  display: flex;
  position: relative;
}

.gImg img {
  padding-top: 2vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  display: flex;
  position: relative;
  height: 38vw;
  width: 63vw;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 32%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

.close {
  padding: 8px;
  font-size: 5vw;
  color: white;
  position: absolute;
  top: 20px;
  right: 45px;
  font-family: quiche-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.close:hover,
.close:focus {
  color: white;
  opacity: 0.2;
  z-index: 9999;
  text-decoration: none;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* nivas mumbai */
/* nivas mumbai */
/* nivas mumbai */
/* nivas mumbai */
.next-nivas {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  margin-top: 218vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

.nivas-heading {
  padding-bottom: 0.5vw;
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

.nivas-heading1 {
  text-align: right;
  line-height: 2vw;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: quiche-sans, sans-serif;
  border: none;
  outline: none;
  color: #1E261B;
  padding: none;
  background-color: inherit;
  margin: 0;
}

.nivasimageslogo {
  /* border: 3px solid orange; */
  padding-top: 0.5vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 32vw;
  width: 63vw;
  margin-left: 26vw;
}

.nivasimages1 {
  padding-top: 1vw;
  margin: 0 auto;
  padding-bottom: 2vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 63vw;
  margin-left: 13vw;
}

.nivasimages1 img {
  position: absolute;
  height: 45vw;
  width: 63vw;
  overflow: hidden;
  margin-left: 13vw;
}

.nivasimages1 .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
  margin-left: 13vw;
}

.nivasimages1:hover .front {
  opacity: 0;
}

.nivasimages2 {
  padding-top: 0.5vw;
  margin: 0 auto;
  padding-bottom: 2vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 63vw;
  margin-left: 13vw;
}

.nivasimages2 img {
  position: absolute;
  height: 45vw;
  width: 63vw;
  overflow: hidden;
  margin-left: 13vw;
}

.nivasimages2 .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
  margin-left: 13vw;
}

.nivasimages2:hover .front {
  opacity: 0;
}

.nivasimages3 {
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 63vw;
  margin-left: 13vw;
}

.nivasimages3 img {
  position: absolute;
  height: 45vw;
  width: 63vw;
  overflow: hidden;
  margin-left: 13vw;
}

.nivasimages3 .front {
  z-index: 1;
  transition: opacity .12s linear;
  cursor: pointer;
  margin-left: 13vw;
}

.nivasimages3:hover .front {
  opacity: 0;
}

/* population */
/* population */
/* population */
/* population */
/* population */
/* population */
.video {
  padding-bottom: 8vw;
  padding-top: 2vw;
  height: 43vw;
  width: 80vw;
  margin-left: 10vw;
}

/* windspeed */
/* windspeed */
/* windspeed */
/* windspeed */
/* windspeed */
/* windspeed */
.video-wind {
  padding-top: 2vw;
  padding-bottom: 8vw;
  height: 47vw;
  width: 75vw;
  margin-left: 15vw;
}

.year-wind {
  height: 2vw;
  width: 90vw;
  font-family: quiche-sans, sans-serif;
  padding-bottom: 3vw;
  font-size: 1.2vw;
  text-align: right;
  font-weight: 400;
  font-style: italic;
  align-items: right;
}

/* motion graphics */
/* motion graphics */
/* motion graphics */
/* motion graphics */
/* motion graphics */
.p1box-mg {
  margin-top: 4vw;
  height: 4vw;
  width: 88vw;
  /* border: 3px solid orange; */
}

.video-mg {
  /* border: 3px solid red; */
  height: 25vw;
  margin: auto;
  width: 88vw;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.video-mg-1 {
  /* border: 3px solid red; */
  height: 27vw;
  margin: auto;
  width: 87vw;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.video1 {
  /* border: 3px solid blue; */
  height: 25vw;
  margin: auto;
  width: 42vw;
}

.video2 {
  /* border: 3px solid blue; */
  height: 24vw;
  margin: auto;
  width: 42vw;
}

.video3 {
  /* border: 3px solid blue; */
  height: 27vw;
  margin: auto;
  width: 27vw;
}

.name-motion {
  letter-spacing: -0.3vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-size: 8vw;
  width: 84.5vw;
  text-align: left;
  /* border: 3px solid purple; */
}

.name-motion:hover {
  letter-spacing: 0.6vw;
}

.next-mg {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  margin-top: 7vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

.next-director {
  height: 2vw;
  width: 17vw;
  font-family: quiche-sans, sans-serif;
  font-size: 2vw;
  margin-top: 7vw;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  align-items: center;
}

/* plus */
/* plus */
/* plus */
/* plus */
/* plus */
/* plus */
/* plus */
/* plus */
.plus {
  font-size: 6vw;
  /* border: 3px solid pink; */
  margin-top: 0.7vw;
  margin-right: -1.5vw;
  float: right;
  overflow: hidden;
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.plus:hover {
  color: #1E261B;
  opacity: 0.2;
  -webkit-transition: all 0.3s ease;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3F3F3;
  opacity: ;
  /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); */
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9999;
}

.overlay-content {
  font-family: quiche-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 5vw;
  color: #1E261B;
  display: block;
  transition: 0.5s;
  z-index: 9999;
}

.overlay a:hover, .overlay a:focus {
  color: #1E261B;
  opacity: 0.2;
  z-index: 9999;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-family: quiche-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
}

/*
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 10vw;
  }

  .overlay .closebtn {
    font-size: 10vw;
    top: 15px;
    right: 35px;
  } */
@media only screen and (max-width: 600px) {
  .overlay a {
    font-size: 10vw;
  }

  .name {
    white-space: pre-line;
    font-size: 14vw;
    line-height: 15vw;
    width: 84.5vw;
    text-align: left;
    /* border: 3px solid purple; */
  }

  .name:hover {
    letter-spacing: -0.3vw;
  }

  .title {
    letter-spacing: 3vw;
    margin-top: 1.5vw;
    font-size: 3.5vw;
    text-align: left;
    margin-left: 1vw;
    margin-bottom: 2vw;
  }

  .plus {
    padding: 8px;
    font-size: 10vw;
  }

  .text, .text1 {
    white-space: normal;
    width: 87vw;
    opacity: 0.8;
    text-align: left;
    line-height: 4.3vw;
    font-size: 3.1vw;
    padding-top: 4vw;
  }

  .text-heading {
    font-size: 3vw;
  }

  .alai-heading {
    padding-top: 14vw;
    padding-bottom: 3vw;
    font-size: 3vw;
  }

  .sign-heading {
    font-size: 3vw;
  }

  .sign-images {
    padding-top: 2vw;
    margin: 0 auto;
    padding-bottom: 5vw;
    display: flex;
    position: relative;
    height: 53vw;
    width: 89vw;
  }

  .next-sign {
    margin-top: 3vw;
    font-size: 4.4vw;
  }

  .year {
    font-size: 2.4vw;
    padding-bottom: 5vw;
  }

  .next {
    margin-top: 3vw;
    font-size: 4.4vw;
  }

  .video {
    padding-bottom: 8vw;
    padding-top: 23vw;
    height: 53vw;
    width: 89vw;
    margin: 0 auto;
  }

  .year-alai {
    font-size: 2.4vw;
    padding-bottom: 5vw;
  }

  .pdf {
    padding-left: 1vw;
    padding-top: 5vw;
    height: 53vw;
    width: 89vw;
  }

  .pdf1 {
    padding-left: 1vw;
    height: 53vw;
    width: 89vw;
  }

  .next-alai {
    margin-top: 11vw;
    font-size: 4.4vw;
  }

  .video-wind {
    padding-top: 27vw;
    padding-bottom: 8vw;
    height: 56vw;
    width: 91vw;
    margin-left: -1vw;
  }

  .year-wind {
    font-size: 2.4vw;
    padding-bottom: 5vw;
  }

  .p1box-mg {
    margin-top: 4vw;
    height: 4vw;
    width: 88vw;
    /* border: 3px solid orange; */
  }

  .video-mg {
    flex-direction: column;
    margin-top: 42vw;
    height: 42vw;
    width: 91vw;
    display: hide;
    position: relative;
  }

  .video-mg-1 {
    margin-left: -3vw;
    margin-top: 53vw;
    height: 57vw;
    width: 91vw;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }

  .video1 {
    margin-left: 0vw;
    height: 56vw;
    width: 84vw;
  }

  .video2 {
    display: none;
    margin-left: 0vw;
    height: 56vw;
    width: 84vw;
  }

  .video3 {
    margin: 0 auto;
    position: relative;
    padding-bottom: 4vw;
    height: 84vw;
    width: 84vw;
  }

  .name-motion {
    white-space: pre-line;
    font-size: 14vw;
    line-height: 14vw;
    width: 84.5vw;
    text-align: left;
  }

  .name-motion:hover {
    letter-spacing: -0.3vw;
  }

  .next-mg {
    margin-top: 113vw;
    font-size: 4.4vw;
  }

  .next-director {
    margin-top: 11vw;
    font-size: 4.4vw;
  }

  .next-nivas {
    margin-top: 403vw;
    font-size: 4.4vw;
  }

  .nivas-heading{
    font-size: 3vw;
    padding-top: 2vw;
  }

  .nivas-heading1 {
    margin-top: 45vw;
    font-size: 3vw;
    padding-bottom: 2vw;
  }

  .nivasimageslogo {
    padding-top: 0.5vw;
    margin-top: 0vw;
    padding-bottom: 1vw;
    height: 50vw;
    width: 86vw;
    margin-left: 2vw;
  }

  .nivasimages1 img {
    height: 50vw;
    width: 85vw;
    margin-left: 2vw;
  }

  .nivasimages1 .front {
    z-index: 1;
    transition: opacity .12s linear;
    cursor: pointer;
    margin-left: 13vw;
  }

  .nivasimages1:hover .front {
    opacity: 0;
  }

  .nivasimages2 {
    /* border: 3px solid red; */
    padding-top: 2vw;
    margin: 0 auto;
    padding-bottom: 2vw;
    height: 68vw;
    width: 85vw;
  }

  .nivasimages2 img {
    position: absolute;
    height: 68vw;
    width: 85vw;
    overflow: hidden;
    margin-left: 1vw;
  }

  .nivasimages2 .front {
    z-index: 1;
    transition: opacity .12s linear;
    cursor: pointer;
    margin-left: 1vw;
  }

  .nivasimages2:hover .front {
    opacity: 0;
  }

  .nivasimages3 {
    padding-top: 2vw;
    margin: 0 auto;
    display: flex;
    position: relative;
    height: 68vw;
    width: 85vw;
    margin-left: 1vw;
  }

  .nivasimages3 img {
    position: absolute;
    height: 68vw;
    width: 85vw;
    overflow: hidden;
    margin-left: 1vw;
  }

  .nivasimages3 .front {
    z-index: 1;
    transition: opacity .12s linear;
    cursor: pointer;
    margin-left: 1vw;
  }

  .next-dig {
    margin-top: 433vw;
    font-size: 4.4vw;
  }

  .dig-images {
    padding-top: 2vw;
    margin: 0 auto;
    padding-bottom: 1vw;
    margin-left: 26vw;
    height: 41vw;
    width: 63vw;
  }

  .dig-images-pattern-main {
    margin: 0 auto;
    height: 59vw;
    width: 87vw;
  }

  .dig-images-pattern {
    display: flex;
    height: 57vw;
    width: 42vw;
  }

  .dig-images-pattern img {
    height: 57vw;
    width: 42vw;
  }

  .dig-images-phys-main {
    margin: 0 auto;
    height: 120vw;
    width: 87vw;
    flex-direction: column;
  }

  .dig-images-phys {
    height: 57vw;
    width: 87vw;
    padding-bottom: 5vw;
  }

  .dig-images-phys img {
    height: 57vw;
    width: 87vw;
    padding-bottom: 5vw;
  }

  .dig-heading {
    margin-right: 1vw;
    padding-bottom: 2vw;
    font-size: 3vw;
  }

  .dig-boxes {
    height: 20vw;
    width: 88vw;
  }

  .dig-box-summer {
    height: 20vw;
    width: 21vw;
  }

  .dig-box-fall {
    height: 20vw;
    width: 21vw;
  }

  .dig-box-spring {
    height: 20vw;
  }

  .dig-box-winter {
    height: 20vw;
    width: 21vw;
  }

  .pattern-images {
    margin-left: 9.3vw;
    display: flex;
    position: relative;
    height: 20vw;
    width: 80vw;
  }
}
