body{
background-color: #F0F0F0;
color: #4B4A4A;
}

.main{
  margin:0 auto;
  height: 50vw;
  width: 70vw;
  border: transparent;
}

.header{
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  padding-bottom: 6vw;
}

.name{
  font-size: 10vw;
  line-height: 0.8;
  padding-left: 5%;
  padding-top: 1vw;
  padding-bottom: 2vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;

}

.homepage{
  width: 67vw;
display: flex;
flex-direction: row;
justify-content:flex-end;
font-family: franklin-gothic-urw, sans-serif;
color: #D8D8D8;
font-size: 1vw;
font-weight: 700;
padding-bottom: 2vw;

}

/* .home{
  font-size: 1.8vw;
  height: 2vw;
  width:11vw;
  padding: 1vw;
}
.home:hover{
  color: #4B4A4A;
} */

.about{
  font-size: 1.8vw;
  height: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 2vw;
  width:4vw;
}
.about:hover{
  color: #4B4A4A;
}
.resume{
  font-size: 1.8vw;
  height: 2vw;
  padding: 1vw;
  width:6vw;
}
.resume:hover{
  color: #4B4A4A;
}

.work{
  font-size: 1.8vw;
  height: 2vw;
  padding: 1vw;
  width:8vw;
}
.work:hover{
  color: #4B4A4A;
}




p{
  color:#4B4A4A;
  text-align: left;
  font-weight: 500;
  font-size:1.4vw;
  font-family:georgia;
  line-height: 2vw;
  font-style: italic;

}


.textdig{
 margin:0 auto;
 padding-top: 2vw;
 text-align: left;
 height: 5vw;
 width: 63vw;

}
.dig1{
  color:#4B4A4A;
  text-align: left;
  font-weight: 700;
  font-size:1.8vw;
  font-family:franklin-gothic-urw, sans-serif;
  line-height: 2vw;
  font-style: normal;

}

.textpop{
 margin:0 auto;
 text-align: left;
 height: 13vw;
 width: 63vw;
}


.textwind{
 margin:0 auto;
 text-align: left;
 height: 12vw;
 width: 63vw;

}

.textdirector{
 margin:0 auto;
 text-align: left;
 height: 9vw;
 width: 63vw;

}

.alfredtext{
  margin:0 auto;
  text-align: left;
  height: 9vw;
  width: 63vw;

}

.denistext{
  margin:0 auto;
  text-align: left;
  height: 9vw;
  width: 63vw;

}

.nolantext{
  margin:0 auto;
  text-align: left;
  height: 9vw;
  width: 63vw;

}

.directortext{
  padding-top: 2vw;
  margin:0 auto;
  display: flex;
  color:#4B4A4A;
  text-align: left;
  font-weight: 700;
  font-size:1.8vw;
  font-family:franklin-gothic-urw, sans-serif;
  font-style: normal;
}

.directortext1{
line-height: 1.4;
float: right;
width: 63vw;
height: 1vw;
font-style: normal;
color:#4B4A4A;
font-weight: 500;
font-size:1.3vw;
font-family:franklin-gothic-urw, sans-serif;
padding-bottom: 5vw;
}

.motion{
 margin:0 auto;
 text-align: left;
 height: 7vw;
 width: 63vw;

}

.titles{
  margin:0 auto;
  text-align: left;
  height: 5vw;
  width: 63vw;

}

.motiontext{

  width: 62vw;
  padding-top: 5vw;
  padding-bottom: 1vw;
  margin:0 auto;
  display: flex;
  color:#4B4A4A;
  text-align: left;
  font-weight: 700;
  font-size:1.8vw;
  font-family:franklin-gothic-urw, sans-serif;
  font-style: normal;
}

.motiontext2{

  width: 62vw;
  padding-top: 2vw;
  margin:0 auto;
  display: flex;
  color:#4B4A4A;
  text-align: left;
  font-weight: 700;
  font-size:1.8vw;
  font-family:franklin-gothic-urw, sans-serif;
  font-style: normal;
}

.motiontext1{
line-height: 1.4;
float: right;
width: 63vw;
height: 1vw;
font-style: normal;
color:#4B4A4A;
font-weight: 500;
font-size:1.3vw;
font-family:franklin-gothic-urw, sans-serif;
padding-bottom: 2vw;
}



.textnivas{
 margin:0 auto;
 text-align: left;
 height: 8vw;
 width: 63vw;

}

.nivastext1{
line-height: 1.4;
float: right;
width: 63vw;
height: 10vw;
font-style: normal;
color:#4B4A4A;
font-weight: 500;
font-size:1.3vw;
font-family:franklin-gothic-urw, sans-serif;
padding-bottom: 5vw;
}

.textuglyveg{
 margin:0 auto;
 text-align: left;
 height: 11vw;
 width: 63vw;

}



.alfred{
  display: flex;
  flex-direction: column;
  padding: 2vw;
  padding-bottom: 3vw;
  height: 40vw;
  width: 63vw;
  background-color: transparent;
  margin: 0 auto;
}





.alfredtext1{
  padding-top: 5vw;
  margin:0 auto;
  text-align: left;
  height: 2vw;
  width: 63vw;

}




.nivastexttitle{
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin:0 auto;
  text-align: left;
  height: 4vw;
  width: 63vw;
}



.digtext1{
line-height: 1.4;
float: right;
width: 63vw;
height: 2vw;
font-style: normal;
color:#4B4A4A;
font-weight: 500;
font-size:1.3vw;
font-family:franklin-gothic-urw, sans-serif;

}


.nivasimageslogo{
  padding-top: 3vw;
  margin: 0 auto;
  padding-bottom: 1vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 32vw;
  width: 63vw;

}

.nivasimages3{
  padding-top: 1vw;
  margin: 0 auto;
  padding-bottom: 2vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 43vw;

}

.nivasimages1{
  padding-top: 1vw;
  margin: 0 auto;
  padding-bottom: 2vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 63vw;

}


.nivasimages1 img{
  position: absolute;
  height: 45vw;
  width: 63vw;
 	overflow: hidden;
}

.nivasimages1 .front{
  z-index: 9999;
 transition: opacity .12s linear;
 cursor: pointer;
}

 .nivasimages1:hover .front{
   opacity: 0;
 }


.nivasimages2{
  margin: 0 auto;
  padding-bottom: 2vw;
  background-color: transparent;
  display: flex;
  position: relative;
  height: 45vw;
  width: 63vw;

}
.nivasimages2 img{
  position: absolute;
  height: 45vw;
  width: 63vw;
 	overflow: hidden;
}

.nivasimages2 .front{
  z-index: 9999;
 transition: opacity .12s linear;
 cursor: pointer;
}

 .nivasimages2:hover .front{
   opacity: 0;
 }

 .nivasimages3{
   margin: 0 auto;
   background-color: transparent;
   display: flex;
   position: relative;
   height: 45vw;
   width: 63vw;

 }
 .nivasimages3 img{
   position: absolute;
   height: 45vw;
   width: 63vw;
  	overflow: hidden;
 }


 .nivasimages3 .front{
   z-index: 9999;
  transition: opacity .12s linear;
  cursor: pointer;
 }

  .nivasimages3:hover .front{
    opacity: 0;
  }



  .video{
    height: 30vw;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    display: flex;
    width: 63vw;

  }

  /* .iframe-container{
    position: relative;
    width: 100%;
    height: 0;
  }

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  } */


.videowind{
  height: 39vw;
  padding-top: 2vw;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  width: 63vw;
}

.videouglyveg{
  height: 35vw;
  padding-top: 0vw;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  width: 63vw;
}

.videouglyveg1{
  height: 35vw;
  padding-top:2vw;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  width: 63vw;
}

.videouglyveg2{
  height: 35vw;
  padding-top: 3vw;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  width: 63vw;
}





a:link{
  color:#D8D8D8;;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 2vw;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

a:visited{
  color:#D8D8D8;;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 2vw;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

a:hover{
  color:#D8D8D8;;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 2vw;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
